<!-- <div class="pract3">
  <nav class="navbar navbar-light bg-primary justify-content-between">
    <a class="navbar-brand text-light">header</a>
  </nav>
  <div class="container bg-light">
    <div class="row">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="container text-justify">
            <h1>Articulo</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
              fugit ea minima deserunt minus iure, obcaecati quae vero magnam
              dolor, quidem quibusdam labore esse nihil a illo, animi doloribus
              officiis aperiam eum molestias? Sit doloremque vero ullam nesciunt
              a accusamus minus sunt quaerat officiis, ab, nam temporibus,
              dolorem quisquam alias?
            </p>
          </div>
        </div>
        <div
          class="col-md-4 d-none d-md-none d-sm-none d-xs-none d-md-block bg-danger text-light text-justify"
        >
          <div class="container">
            <h1>Aside</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
              fugit ea minima deserunt minus iure, obcaecati quae vero magnam
              dolor, quidem quibusdam labore esse nihil a illo, animi doloribus
              officiis aperiam eum molestias? Sit doloremque vero ullam nesciunt
              a accusamus minus sunt quaerat officiis, ab, nam temporibus,
              dolorem quisquam alias?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 bg-primary text-light text-justify">
        <div class="container">
          <h1>Columna1</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit
            ea minima deserunt minus iure, obcaecati quae vero magnam dolor,
            quidem quibusdam labore esse nihil a illo, animi doloribus officiis
            aperiam eum molestias? Sit doloremque vero ullam nesciunt a
            accusamus minus sunt quaerat officiis, ab, nam temporibus, dolorem
            quisquam alias?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit
            ea minima deserunt minus iure, obcaecati quae vero magnam dolor,
            quidem quibusdam labore esse nihil a illo, animi doloribus officiis
            aperiam eum molestias? Sit doloremque vero ullam nesciunt a
            accusamus minus sunt quaerat officiis, ab, nam temporibus, dolorem
            quisquam alias?
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="container text-justify">
          <h1>Columna2</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit
            ea minima deserunt minus iure, obcaecati quae vero magnam dolor,
            quidem quibusdam labore esse nihil a illo, animi doloribus officiis
            aperiam eum molestias? Sit doloremque vero ullam nesciunt a
            accusamus minus sunt quaerat officiis, ab, nam temporibus, dolorem
            quisquam alias?
          </p>
        </div>
      </div>
      <div class="col-md-3 bg-primary text-light text-justify">
        <div class="container">
          <h1>Columna3</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit
            ea minima deserunt minus iure, obcaecati quae vero magnam dolor,
            quidem quibusdam labore esse nihil a illo, animi doloribus officiis
            aperiam eum molestias? Sit doloremque vero ullam nesciunt a
            accusamus minus sunt quaerat officiis, ab, nam temporibus, dolorem
            quisquam alias?
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="container text-justify">
          <h1>Columna4</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit
            ea minima deserunt minus iure, obcaecati quae vero magnam dolor,
            quidem quibusdam labore esse nihil a illo, animi doloribus officiis
            aperiam eum molestias? Sit doloremque vero ullam nesciunt a
            accusamus minus sunt quaerat officiis, ab, nam temporibus, dolorem
            quisquam alias?
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Nombre1</td>
        <td>Usuario1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Nombre2</td>
        <td>Usuario2</td>
      </tr>
      <tr class="table-success">
        <th scope="row">3</th>
        <td>Nombre3</td>
        <td>Usuario3</td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<br />
<div class="container">
  <form action="">
    <div class="form-group">
      <strong><label>Label basica</label></strong>
      <input
        type="text"
        name="input"
        class="form-control"
        placeholder="input basico"
      />
    </div>

    <div class="form-group">
      <textarea
        placeholder="textarea"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck1"
        />
        <label class="form-check-label" for="defaultCheck1"> Checkbox#1 </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck2"
        />
        <label class="form-check-label" for="defaultCheck2"> Checkbox#2 </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="defaultCheck3"
        />
        <label class="form-check-label" for="defaultCheck3"> Checkbox#3 </label>
      </div>
    </div>
    <br />
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="exampleRadios"
        id="exampleRadios1"
        value="option1"
        checked
      />
      <label class="form-check-label" for="exampleRadios1"> Radio#1 </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="exampleRadios"
        id="exampleRadios2"
        value="option2"
      />
      <label class="form-check-label" for="exampleRadios2"> Radio#2 </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="exampleRadios"
        id="exampleRadios3"
        value="option3"
      />
      <label class="form-check-label" for="exampleRadios3"> Radio#3 </label>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
<br />
<br />
<div class="container">
  <form action="">
    <div class="form-group">
      <strong><label>Nombre:</label></strong>
      <input
        type="text"
        name="input"
        class="form-control"
        placeholder="Nombre:"
      />
    </div>
    <div class="form-group">
      <strong><label>Elige una opcion:</label></strong>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Opcion 1</option>
        <option>Opcion 2</option>
        <option>Opcion 3</option>
        <option>Opcion 4</option>
        <option>Opcion 5</option>
      </select>
    </div>

    <div class="form-group">
      <strong><label>Mensaje:</label></strong>
      <textarea
        placeholder="textarea"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <div class="form-group">
      <strong><label>Archivo:</label></strong>
      <input
        type="file"
        class="form-control-file"
        id="exampleFormControlFile1"
      />
      <label>Maximo 20MB</label>
    </div>

    <br />
    <button type="submit" class="btn btn-warning">Enviar</button>
  </form>
</div>
<br>
<br>
<div class="container">
  <form>
    <div class="form-inline">
      <div class="form-group">
        <strong><label for="inlineFormInput">Nombre:</label></strong>
        <!-- <label class="sr-only" for="inlineFormInput">Name</label> -->
        <input type="text" class="form-control mx-sm-3" id="inlineFormInput" placeholder="Nombre:">
      </div>
      <div class="form-group">
        <div class="input-group mx-sm-3">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Correo:">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check mx-sm-3">
          <input class="form-check-input" type="checkbox" id="autoSizingCheck">
          <label class="form-check-label" for="autoSizingCheck">
            Recuerdame
          </label>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary mx-sm-3">Enviar</button>
      </div>
    </div>
  </form>
</div>
