<nav class="navbar navbar-light bg-primary justify-content-between">
  <a class="navbar-brand text-light">header</a>
</nav>
<div class="container bg-light">
  <div class="row">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="container text-justify">
          <h1>Articulo</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit
            ea minima deserunt minus iure, obcaecati quae vero magnam dolor,
            quidem quibusdam labore esse nihil a illo, animi doloribus officiis
            aperiam eum molestias? Sit doloremque vero ullam nesciunt a
            accusamus minus sunt quaerat officiis, ab, nam temporibus, dolorem
            quisquam alias?
          </p>
        </div>
      </div>
      <div
        class="col-md-4 d-none d-md-none d-sm-none d-xs-none d-md-block bg-danger text-light text-justify"
      >
        <div class="container">
          <h1>Aside</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit
            ea minima deserunt minus iure, obcaecati quae vero magnam dolor,
            quidem quibusdam labore esse nihil a illo, animi doloribus officiis
            aperiam eum molestias? Sit doloremque vero ullam nesciunt a
            accusamus minus sunt quaerat officiis, ab, nam temporibus, dolorem
            quisquam alias?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 bg-primary text-light text-justify ">
      <div class="container ">
        <h1>Columna1</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit ea
          minima deserunt minus iure, obcaecati quae vero magnam dolor, quidem
          quibusdam labore esse nihil a illo, animi doloribus officiis aperiam
          eum molestias? Sit doloremque vero ullam nesciunt a accusamus minus
          sunt quaerat officiis, ab, nam temporibus, dolorem quisquam alias?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit ea
          minima deserunt minus iure, obcaecati quae vero magnam dolor, quidem
          quibusdam labore esse nihil a illo, animi doloribus officiis aperiam
          eum molestias? Sit doloremque vero ullam nesciunt a accusamus minus
          sunt quaerat officiis, ab, nam temporibus, dolorem quisquam alias?
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container text-justify">
        <h1>Columna2</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit ea
          minima deserunt minus iure, obcaecati quae vero magnam dolor, quidem
          quibusdam labore esse nihil a illo, animi doloribus officiis aperiam
          eum molestias? Sit doloremque vero ullam nesciunt a accusamus minus
          sunt quaerat officiis, ab, nam temporibus, dolorem quisquam alias?
        </p>
      </div>
    </div>
    <div class="col-md-3 bg-primary text-light text-justify">
      <div class="container">
        <h1>Columna3</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit ea
          minima deserunt minus iure, obcaecati quae vero magnam dolor, quidem
          quibusdam labore esse nihil a illo, animi doloribus officiis aperiam
          eum molestias? Sit doloremque vero ullam nesciunt a accusamus minus
          sunt quaerat officiis, ab, nam temporibus, dolorem quisquam alias?
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="container text-justify">
        <h1>Columna4</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet fugit ea
          minima deserunt minus iure, obcaecati quae vero magnam dolor, quidem
          quibusdam labore esse nihil a illo, animi doloribus officiis aperiam
          eum molestias? Sit doloremque vero ullam nesciunt a accusamus minus
          sunt quaerat officiis, ab, nam temporibus, dolorem quisquam alias?
        </p>
      </div>
    </div>
  </div>
</div>
